*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body {
    height: 100vh;
    width: 100%;
    text-align: center;
    justify-content: center;
}


header {
    width: 100%;
    height: 15%;
    background-color: white;
    display: flex;
    justify-content: center;
    padding-top: 2%;
}

.head {
    height: 85%;
    width: 25%;
    padding-top: 1.5%;
    border-top: 4px double rgb(46, 119, 143) ;
    border-left: 3px groove #597ae8;
    border-right: 7px solid #c2b508;
    border-bottom: 7px solid #22c2b5;
    text-shadow: white 1px 2px;
    background-color: #cbe1ff;
    font-family: Arial, Helvetica, sans-serif;
}

#images{
    height: 400px;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-around;
}

.left {
    margin-top: 10%;
    border: 5px dotted green;
    padding: 3px;
}

.left:hover {
    padding: 2%;
}

.center {
    margin-top: 2%;
    margin-left: -700px;
    margin-right: -700px;
    border: 5px dotted green;
    padding: 3px;
}

.center:hover {
    padding: 2%;
}

.right {
    margin-top: 10%;
    border: 5px dotted green;
}

.right:hover {
    padding: 2%;
}

#boxes {
    height: 300px;
    width: 100%;
    background-color: white;
    padding-top: 50px;
    display: flex;
    justify-content: space-around;
}

.content {
    height: 30%;
    width: 12%;
    padding: 20px;
    margin-left: 21%;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    border: 3px dashed black;
}

.parContent {
    background-color: green;
    font-size: 25px;
    color: white;
}

.padding {
    height: 30%;
    width: 12%;
    padding: 18px;
    font-weight: bold;
    border: 3px dashed black;
    background-color: green;
    font-size: 25px;
    color: white;
    background-clip: padding-box;
    font-family: Arial, Helvetica, sans-serif;
}



.border {
    height: 30%;
    width: 12%;
    border: 3px dashed black;
    padding: 20px;
    margin-right: 21%;
    font-weight: bold;
    background-color: green;
    font-size: 25px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.bonusHead {
    height: 10%;
    width: 100%;
    border-top: 3px dashed black;
    padding-top: 1%;
    display: flex;
    justify-content: center;
}

.smallHead {
     height: 90%;
     width: 20%;
     padding-top: 1%;
     border-top: 4px double rgb(46, 119, 143) ;
     border-left: 3px groove #597ae8;
     border-right: 7px solid #c2b508;
     border-bottom: 7px solid #22c2b5;
     text-shadow: white 1px 2px;
     background-color: #cbe1ff;
    font-family: Arial, Helvetica, sans-serif;
     
}

.rows {
    height: 70%;
    width: 100%;
    padding-top: 1.5%;
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

.table {
    height: 80%;
    width: 80%;
    margin-top: 5%;
}

.row1 {
    height: 5%;
    width: 30%;
    padding-top: 0.5%;
    margin-left: 35%;
    text-align: right;
    background-color: #0088dd;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    text-shadow: 1px 1px black;
    color: white;
}

.row2 {
    height: 5%;
    width: 30%;
    padding-top: 0.5%;
    margin-left: 35%;
    text-align: right;
    background-color: #0095e2;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    text-shadow: 1px 1px black;
    color: white;
}

.row3 {
    height: 5%;
    width: 30%;
    padding-top: 0.5%;
    margin-left: 35%;
    text-align: right;
    background-color: #00a0e6;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    text-shadow: 1px 1px black;
    color: white;
}

.row4 {
    height: 5%;
    width: 30%;
    padding-top: 0.5%;
    margin-left: 35%;
    text-align: right;
    background-color: #30aae9;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    text-shadow: 1px 1px black;
    color: white;
}
.row5 {
    height: 5%;
    width: 30%;
    padding-top: 0.5%;
    margin-left: 35%;
    text-align: right;
    background-color: #54b6ed;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    text-shadow: 1px 1px black;
    color: white;
}
.row6 {
    height: 5%;
    width: 30%;
    padding-top: 0.5%;
    margin-left: 35%;
    text-align: right;
    background-color: #72c1f0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    text-shadow: 1px 1px black;
    color: white;
}
.row7 {
    height: 5%;
    width: 30%;
    padding-top: 0.5%;
    margin-left: 35%;
    text-align: right;
    background-color: #8ccaf2;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    text-shadow: 1px 1px black;
    color: white;
}
.row8 {
    height: 5%;
    width: 30%;
    padding-top: 0.5%;
    margin-left: 35%;
    text-align: right;
    background-color: #00bb88;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    text-shadow: 1px 1px black;
    color: white;
}
.row9 {
    height: 5%;
    width: 30%;
    padding-top: 0.5%;
    margin-left: 35%;
    text-align: right;
    background-color: #f5b0cc;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    text-shadow: 1px 1px black;
    color: white;
}
.row10 {
    height: 5%;
    width: 30%;
    padding-top: 0.5%;
    margin-left: 35%;
    text-align: right;
    background-color: #f69fc0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    text-shadow: 1px 1px black;
    color: white;
}
.row11 {
    height: 5%;
    width: 30%;
    padding-top: 0.5%;
    margin-left: 35%;
    text-align: right;
    background-color: #f58cb2;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    text-shadow: 1px 1px black;
    color: white;
}
.row12 {
    height: 5%;
    width: 30%;
    padding-top: 0.5%;
    margin-left: 35%;
    text-align: right;
    background-color: #f47ba6;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    text-shadow: 1px 1px black;
    color: white;
}
.row13 {
    height: 5%;
    width: 30%;
    padding-top: 0.5%;
    margin-left: 35%;
    text-align: right;
    background-color: #f36a98;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    text-shadow: 1px 1px black;
    color: white;
}
.row14 {
    height: 5%;
    width: 30%;
    padding-top: 0.5%;
    margin-left: 35%;
    text-align: right;
    background-color: #f45a8b;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    text-shadow: 1px 1px black;
    color: white;
}
.row15 {
    height: 5%;
    width: 30%;
    padding-top: 0.5%;
    margin-left: 35%;
    text-align: right;
    background-color: #ee3e80;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    text-shadow: 1px 1px black;
    color: white;
}